body{
    margin:1em 1em;
    padding:0;
    font-family: 'Lato', sans-serif;

}
 .hidden-on-desktop{
    text-align:center;
    border:1px solid #F5F5F5;
    background-color:#CEFFFF;
     padding:0.75em 0;
    /*margin: 0.75em 0.75em;*/
}
a{
    text-decoration:none;
}
h1{
   text-align:center;
}
.nav-links>li{
    background-color:gray;
    list-style-type:none;
    display:block;
    padding:0.75em 0;
    margin:0.75em 0;
    text-align:center;
    text-decoration:underline;
}
.main{
    padding-bottom:1em;
}
.sub-section{
    font-style: italic;
    padding-bottom:2em;
}
ul{
    padding-left:0;
}

.img{
    width:339px;
    height:224px;
}

@media screen and (min-width:992px) {
    a {
        background-color: red;
    }
}


